input {
    text-align: left;
}

.wd-error {
    font-weight: bold;
    color: red;
    width: 100%;
    text-align: center;
}

.wd-z-index {
    z-index: 1031 !important;
}

.wd-background {
    backdrop-filter: blur(2px) !important;
}

.wd-signup-width {
    width: 600px;
}