.wd-detail-img-height {
    max-height: 400px;
    max-width: 400px;
}

.wd-detail-img-height-artist {
    max-height: 600px;
    max-width: 600px;
}

.wd-detail-text-deco-none {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.wd-detail-text-deco-none:hover {
    color: inherit;
    text-decoration: underline;
}

.wd-detail-bold-font {
    font-weight: 900;
    font-size: xx-large;
}

.wd-detail-sub-bold-font {
    font-weight: 600;
    font-size: large;
}

.wd-detail-bg-black {
    background-color: inherit;
}

.wd-liked-color {
    color: red;
}

.wd-cursor-pointer {
    cursor: pointer;
}

.wd-cursor-pointer:hover {
    color: lightgrey;
}

.wd-background-banner {
    background-image: linear-gradient(to left, rgb(71, 83, 79), #060606);
}

.wd-background-banner-show {
    background-image: linear-gradient(to left, #4c355b, #060606);
}

.wd-background-banner-playlist {
    background-image: linear-gradient(to left, #7e5a33, #060606);
}

.wd-background-banner-episode {
    background-image: linear-gradient(to left, #9c4a69, #060606);
}

.wd-background-banner-track {
    background-image: linear-gradient(to left, #4a739c, #060606);
}

.wd-background-banner-artist {
    background-image: linear-gradient(to left, #965353, #060606);
}

.wd-background-banner-artist-reverse {
    background-image: linear-gradient(to left, #060606, #965353);
}

.wd-detail-box-shadow {
    box-shadow: 1px 1px 10px 2px rgb(205, 197, 197);
}

.wd-detail-comment-overflow {
    overflow-y: auto;
}

.wd-comment-height {
    height: calc(100% - 193px);
}

.wd-comment-height-no-user {
    height: calc(100% - 136px);
}

.wd-details-comment-block {
    position: relative;
}

.wd-details-comment-position {
    position:absolute;
    bottom: 0;
    right: 0;
}

.wd-details-comment-position-top {
    position:absolute;
    top:0;
}

.wd-detail-max-width {
    max-width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.wd-zero-margin {
    margin-right: 0px !important;
    padding-right: 0px !important;
}

.wd-show-episode-description-view-height {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    display: -webkit-box!important;
}

@media (min-width: 992px) {
    .wd-nav-tab-padding {
        margin-left: 12px;
    }

    .wd-comment-width-outer {
        width: calc(100% + 12px);
    }
}

@media (max-width: 991px) {

    .container.wd-768-override {
        max-width: calc(100vw - 41px);
        min-width: 475px;
    }

    .wd-track-list-conditional-padding {
        padding-right: 12px!important;
    }
}

.wd-detail-parent {
    max-height: 590px;
}

.wd-detail-self {
    max-height: 500px;
}

.wd-list-no-border {
    border-width: 0px 0px 0px !important;
}

.wd-comment-width-inherit {
    width: inherit;
}

.wd-detail-tab-underline > .active {
    background-color: inherit !important;
}

.wd-position-relative {
    position: relative;
}

.wd-detail-max-height {
    height: 80%;
}

.wd-track-episode-detail-height {
    height: calc(100% - 136px);
}

.wd-detail-artist-grid {
    grid-gap: 0px;
}

.wd-comment-relative {
    position: relative;
    bottom: 3px;
    right: 0;
    height: 60px;
}

.wd-inner-comment-height {
    height: 100%;
}

.wd-inner-comment-height-full {
    height: calc(100% - 3px);
}

.wd-comment-overflow-break-word {
    overflow-wrap: break-word;
}

.wd-margin-top-1-rem {
    margin-top: 1rem!important;
}

.wd-comment-width {
    width: 97%;
}

.wd-comment-icon-width {
    width: 3%;
}

.wd-comment-missing-margin {
    margin-top: 17px;
}

.wd-comment-border {
    border-bottom: 1px solid #282828;
    border-top: 1px solid #282828;
}

.wd-details-width-height {
    width: 50px;
    height: 50px;
}

.wd-detail-comment {
    border-top: 1px solid grey;
    background-color: inherit;
    color: white;
}

.wd-detail-comment::placeholder {
    text-align: start;
}

.wd-detail-comment:focus {
    background-color: inherit;
    border: 0px solid transparent;
    border-color: transparent;
    color: white;
}

.wd-detail-button-action {
    border: none;
    color: rgb(129, 193, 34);
    font-weight: bolder;
}

.wd-detail-comment-btn {
    border: none;
}

.wd-detail-button {
    background-color: inherit;
    border: none;
}

.wd-detail-button:hover {
    background-color: inherit;
    color: greenyellow;
    font-weight: bolder;
}

.wd-detail-button:active {
    background-color: inherit;
    border: 0px solid transparent;
}

.wd-details-container {
  display: grid;
  grid-template-columns:none;
  grid-gap:10px;
  border: none;
  /* box-sizing: border-box; */
  height: calc(100vh - 74px);
}

.wd-track-height {
    height: calc(100% - 120px);
}

.wd-playlist-inner-track-height {
    height: calc(100% - 16px);
}

.wd-details-container-children {
    box-sizing: border-box;
}

.wd-details-container-children-overflow {
  height:0;
  min-height:100%;
}

.wd-parent-height {
    height: 100%;
}

.wd-detail-float-left {
    float: left
}

.wd-detail-float-right {
    float: right
}

.wd-detail-float-done {
    clear: both;
}

