.wd-username-field-dims {
    width: 225px;
}

.wd-follow-value-dims {
    width: 150px;
}

.wd-username-button-position {
    position: relative;
    top: -3px;
}

.wd-username-button {
    height: 30px;
    line-height: 1.1!important;
}

.wd-nav-link-button {
    background-color: transparent;
    border: none;
}

.wd-nav-link-button:hover {
    font-weight: bold;
}

.wd-active-link {
    border-bottom: white solid 2px;
    font-weight: bold;
}

.wd-bottom-border-grey {
    border-bottom: lightgrey solid 1px;
}

.wd-nav-item-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

.wd-follower-button {
    background-color: transparent;
    color: white;
    border: none;
    height: 24px;
    line-height: 1;
}

.wd-follower-button:hover {
    color: lightgrey;
}

.wd-website-link {
    text-decoration: none;
}

.wd-website-link:hover {
    color: lightgrey;
}

.wd-profile-header-info-max-width {
    max-width: 1116px;
}



.wd-hide-text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    line-height: 1.1;
}

@media (min-width: 1200px) {
    .wd-support-info-dims {
        width: 375px;
    }
}

@media (max-width: 1199px) {
    .wd-support-info-dims {
        width: 300px;
    }
}

@media (min-width: 1400px) {
    .wd-center-content {
        position: relative;
        left: 148px;
        width: 1000px
    }

    .wd-center-main-info-wide {
        position: relative;
        left: 90px;
    }

}

@media (min-width: 1200px) and (max-width: 1399px) {
    .wd-center-content {
        position: relative;
        left: 58px;
        width: 1000px
    }

}

@media (max-width: 1099px) {
    .wd-center-content {
        width: 100%;
    }
    
}

@media (min-width: 992px) {
    .wd-inline-show-status {
        display: inline-block;
    }

    .wd-block-show-status {
        display: none;
    }

    .wd-main-info-dims-profile {
        width: calc(100% - 458px);
        height: 100px;
    }
}

@media (max-width: 991px) {

    .wd-inline-show-status {
        display: none;
    }

    .wd-block-show-status {
        display: block;
        width: 100%;
    }

    .wd-main-info-dims-profile {
        width: calc(100% - 158px);
        height: 100px;
    }
}

@media (min-width: 768px) {

    .wd-main-info-position {
        position: relative;
        top: calc(50% - 50px);
    }

    .wd-missing-website-margin {
        margin-top: 1rem;
    }
}

@media (max-width: 767px) {

    .wd-main-info-position {
        position: relative;
        top: calc(50% - 65px);
    }
}