.wd-username-field-dims {
    width: 225px;
}

.wd-follow-value-dims {
    width: 150px;
}

.wd-username-button-position {
    position: relative;
    top: -3px;
}

.wd-username-button {
    height: 30px;
    line-height: 1.1!important;
    background-color: white!important;
}

.wd-username-button:hover {
    background-color: lightgrey!important;
}

.wd-nav-link-button {
    background-color: transparent;
    border: none;
}

.wd-nav-link-button:hover {
    font-weight: bold;
}

.wd-active-link {
    border-bottom: white solid 2px;
    font-weight: bold;
}

.wd-bottom-border-grey {
    border-bottom: lightgrey solid 1px;
}

.wd-nav-item-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

.wd-follower-button {
    background-color: transparent;
    color: white;
    border: none;
    height: 24px;
    line-height: 1;
}

.wd-follower-button:hover {
    color: lightgrey;
}

@media (min-width: 768px) {

    .wd-main-info-position {
        position: relative;
        top: calc(50% - 50px);
    }
}

@media (max-width: 767px) {

    .wd-main-info-position {
        position: relative;
        top: calc(50% - 65px);
    }
}