.wd-background {
    backdrop-filter: blur(2px) !important;
}

.wd-privacy-font {
    color: black;
    font-weight: bold;
}

.wd-privacy-links {
    color: #0027be;
    text-decoration: none;
}

.thead {
    background-color: #77b300;
}

tbody {
    background-color: white;
}

.wd-padding-bottom {
    padding-bottom: 2px;
}

.wd-privacy-float-left {
    float: left;
}

.wd-privacy-float-right {
    float: right;
}

.wd-privacy-float-done {
    clear: both;
}

.wd-privacy-cursor {
    cursor: pointer;
}