.wd-display-inline-block {
    display: inline-block;
}

.wd-display-flex {
    display: flex;
}

.wd-display-block {
    display: block;
}

.wd-full-height {
    height: 100%!important;
}

.wd-full-width {
    width: 100%!important;
}

.wd-position-relative {
    position: relative;
}

.wd-fg-color-white {
    color: white;
}

.wd-fg-color-black {
    color: black;
}

.wd-bold-font {
    font-weight: bold;
}

.wd-font-size-26 {
    font-size: 26px;
}

.wd-font-size-20 {
    font-size: 20px;
}

.wd-font-size-18 {
    font-size: 18px;
}

.wd-font-size-16 {
    font-size: 16px;
}

.wd-circle-image {
    border-radius: 50%;
}

.wd-content-section {
    border-radius: 10px;
    background-color: grey;
}

.wd-header-buffer {
    width: 100%;
    height: 57px;
}

