.wd-post-image-dims {
    height: 100px;
    width: 100px;
}

.wd-post-data-dims {
    width: calc(100% - 100px - 2rem);
}

.wd-post-href {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.wd-post-href:hover {
    color: lightgrey;
}

.wd-comment-list-item-overflow-break-word {
    overflow-wrap: break-word;
}